{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-AddSensor" style="color:gray">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Add the new Sensor
            </h1>
            <br>
            {{ form.soil_moisture.label() }}
            {{ form.soil_moisture(class="form-control", placeholder=" Soil Moisture") }}

            {{ form.status.label() }}
            {{ form.status(class="form-control", placeholder="status") }}

            {{ form.time.label() }}
            {{ form.time(class="form-control", placeholder="Reception time") }}

            {{ form.sensor_location.label() }}
            {{ form.sensor_location(class="form-control", placeholder="sensor location") }}

            <div class="checkbox mb-3">
            </div>

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}